/* .home {
    width: 58rem;
    height: 29rem;
}

.home::before {
    width: 66rem;
    height: 44rem;
}

.logo img {
    width: 27vw;
    height: 12vh;
}

.order {
    font-size: 2rem;
    margin-top: 8rem;
} */